
.section-about{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background: #17182f;
    position: relative;
    display: block;
    margin : 0;
    padding: 0;

    .animation-wrapper{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        .particle-js-wrapper{
            width: 100%;
            height: 100vh;

            @media screen and (max-width: 620px){
                width: 400%;
                height: 100%;
            }

        }


        .image{
            position: absolute;
            height: auto;
            box-sizing: border-box;

            &:nth-child(2){
                left: 3%;
                width: 5%;
                animation: fly 15s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;

                    &:nth-child(2){
                        animation: glow 3s ease infinite;
                    }
                }
            }

            &:nth-child(3){
                left: 38%;
                width: 5%;
                animation: fly 10s linear infinite ;
                
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;

                    &:nth-child(2){
                        animation: glow 3s ease infinite;
                    }
                }

            }

            &:nth-child(4){
                left: 55%;
                width: 6%;
                animation: fly 20s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 70%;

                    &:nth-child(2){
                        animation: glow 3s ease infinite;
                        opacity: 0.6;
                    }
                }
            }

            &:nth-child(5){
                left: 85%;
                width: 7%;
                animation: fly 8s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                    &:nth-child(2){
                        animation: glow 3s ease infinite;
                    }
                }
            }

            &:nth-child(6){
                left: 5%;
                width: 1%;
                animation: fly 8s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }

            &:nth-child(7){
                left: 55%;
                width: 1%;
                animation: fly 10s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }

            &:nth-child(8){
                left: 62%;
                width: 1%;
                animation: fly 28s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }

            &:nth-child(9){
                left: 90%;
                width: 1%;
                animation: fly 18s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }

            &:nth-child(10){
                left: 90%;
                width: 1%;
                animation: fly 18s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }

            &:nth-child(11){
                left: 90%;
                width: 1%;
                animation: fly 18s linear infinite ;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }

    .section-content{
        width: 100%;
        position: relative;
        display: block;
        height: 100%;

        .decoration-wrapper{
            position: absolute;
            right: 0;
            top: -15px;
            width: 600px;
            height: 500px;

            @media screen and (max-width: 620px){
                width: 100px;
                height: 300px;
                right: 10px;
            }

            img{
                width: 100%;
            }

            .image{
                position: absolute;
                top: 0;
                left: 0;

                &:nth-child(1){
                    width: 100px;
                    top:500px;
                    left: 100px;

                    

                    img{
                        width: 100%;
                    }
                }
                &:nth-child(2){
                    width: 60px;
                    top: 260px;
                    left: 30px;

                    @media screen and (max-width: 620px){
                        width: 50px;
                        top: 150px;
                        left: -5px;
                    }

                    img{
                        width: 100%;
                        animation: glow 3s ease infinite;
                    }
                }
                &:nth-child(3){
                    width: 60px;
                    top: 250px;
                    left: 240px;

                    @media screen and (max-width: 620px){
                        width: 50px;
                        top: 225px;
                        left: 43px;
                    }

                    img{
                        width: 100%;
                        animation: glow 3s ease infinite;
                    }
                }
                &:nth-child(4){
                    width: 50px;
                    top: 150px;
                    left: 177px;

                    @media screen and (max-width: 620px){
                        width: 20px;
                        top: 95px;
                        left: 80px;
                    }

                    img{
                        width: 100%;
                        animation: glow 5s ease infinite;
                    }
                }
                &:nth-child(5){
                    width: 40px;
                    top: 202px;
                    left: 332px;

                    @media screen and (max-width: 620px){
                        display: none;
                    }

                    img{
                        width: 100%;
                    }
                }
                &:nth-child(6){
                    width: 50px;
                    top: 200px;
                    left: 450px;

                    @media screen and (max-width: 620px){
                        display: none;
                    }

                    img{
                        width: 100%;
                        animation: glow 3.5s ease infinite;
                    }
                }

                &:nth-child(7){
                    width: 60px;
                    top: 300px;
                    left: 505px;

                    @media screen and (max-width: 620px){
                        display: none;
                    }

                    img{
                        width: 100%;
                        animation: glow 3.5s ease infinite;
                    }
                }

                &:nth-child(8){
                    width: 40px;
                    top: 135px;
                    left: 350px;

                    @media screen and (max-width: 620px){
                        display: none;
                    }

                    img{
                        width: 100%;
                    }
                }

                &:nth-child(9){
                    width: 40px;
                    top: 120px;
                    left: 548px;

                    @media screen and (max-width: 620px){
                        display: none;
                    }

                    img{
                        width: 100%;
                        opacity: 0.7;
                    }
                }
            }
        }

        .section-title{
            font-size: 56px;
            position: absolute;
            top: 5%;
            left: 12%;
            color: white;
            letter-spacing: 2px;
            font-weight: 600;
            // background:  rgb(85, 0, 0);

            // &--text{
            //     color: white;
            //     font-size: 70px;
            //     font-weight: 600;
            //     display: block;
            //     position: absolute;
            //     bottom: -50px;
            //     left: 0;
            //     text-align: left;
            //     letter-spacing: 5px;
            //     font-family: goodbrush;
            //     line-height: 75px;
            //     text-transform: lowercase;

            //     &-primary{
            //         display: block;
            //         text-transform: lowercase;

            //     }
            // }

            @media screen and (max-width: 620px){
                font-size: 32px;
                top: 4%;
                left: 20%;
            }
        }

        .main-content{
            width: 40%;
            height: auto;
            position: absolute;
            bottom: 100px;
            left: 10%;
            box-sizing: border-box;
            padding: 10px;
            color: white;
            font-size: 20px;
            // font-family: 'Zhi Mang Xing', cursive;

            @media screen and (max-width: 620px){
                font-size: 12px;
                width: 80%;
                bottom: 200px;
            }

            @media screen and (max-width: 350px){
                font-size: 12px;
                width: 80%;
                bottom: 120px;
            }


        }
    }
}

