.logo{
    position: fixed;
    top: 40%;
    left: 55%;
    width: 40%;
    transform: translate(-50%, -50%);
    z-index: 12;
    transition: 0.5s all linear;

    @media screen and (max-width: 620px){
        width: 80%;
        left: 65%;
    }

    &.aside{
        top: 13%;
        left: 9%;
        width: 15%;

        @media screen and (max-width: 620px){
            width: 22%;
            left: 13%;
            top: 9%;
        }
    }

    &.footer{
        width: 25%;
        top: 25%;
        left: 20%;

        @media screen and (max-width: 620px){
            width: 50%;
            top: 12%;
            left: 60%;
            transform: translateX(-50%);
        }
    }

    img {
        width: 100%;
    }
}

