.test2 {
  // width: 100vw;
  background: url(../../images/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  // overflow-y: scroll;

  .login {
    margin-top: 70px;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    // overflow: hidden;
    @media screen and (max-width: 620px) {
      width: 100%;
      padding: 0;

      .col.s7.offset-s3.valign {
        margin: 0 auto;
        width: 80%;
      }

      .card {
        width: 100%;
      }
    }
  }

  .login .card {
    background: rgba(0, 0, 0, 0.6);
  }
  .login label {
    font-size: 16px;
    color: #ccc;
  }
  .login input {
    font-size: 22px !important;
    color: #ccc;
  }
  .login button:hover {
    padding: 0px 40px;
    transition-duration: inherit;
  }
  .back {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 80px;
    top: 0;
    left: 0;
  }
}
